<div class="app">
  <div class="app__header header">
    <nav class="header__content">
      <a class="app__brand"><span>IdentityServer Sample</span></a>

      <nav class="header__menu app-menu">
        <a class="app-menu__item app-menu__item_active"><span>Home</span></a>
        <a class="app-menu__item" routerLink="/audience"><span>Audiences</span></a>
        <a class="app-menu__item" routerLink="/client"><span>Clients</span></a>
        <a class="app-menu__item" routerLink="/scope"><span>Scopes</span></a>
      </nav>

      <div class="header__profile profile-menu">
        <a class="profile-menu__toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <span>John Smith</span>
        </a>
        <nav class="profile-menu__nav dropdown-menu">
          <a class="profile-menu__item"><span>Profile</span></a>
          <a class="profile-menu__item"
             (click)="signout()"><span>Sign out</span></a>
        </nav>
      </div>
    </nav>
  </div>

  <main class="app__main main">
    <router-outlet></router-outlet>
  </main>
</div>
