<div class="page">
  <header class="page-header header">
    <div class="header-bar">
      <div class="header-brand">
        <a href="#">
          <span>Identity Server Sample</span>
        </a>
      </div>
      <div class="header-profile">
        <a style="cursor: pointer"
           (click)="signout()">
          <span>Sign Out</span>
        </a>
      </div>
    </div>
  </header>

  <aside class="page-aside aside">
    <div class="aside-bar">
      <nav class="aside-menu menu">
        <a class="menu-link"><span>Dashboard</span></a>
        <a class="menu-link"><span>Tasks</span></a>
      </nav>
    </div>
  </aside>

  <main class="page-main main">
    <router-outlet></router-outlet>
  </main>
</div>
