$header-height: 4em;
$header-font-color: #c4c4c4;
$header-background-color: #2e2e2e;

$aside-width: 16em;

$main-padding-top: $header-height;
$main-padding-left: $aside-width;

$header-bar-height: $header-height;

.page {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;

  &-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    color: $header-font-color;
    background: $header-background-color;
    z-index: 1000
  }

  &-aside {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
    width: $aside-width;
    z-index: 1000
  }

  &-main {
    position: relative;
    padding: $main-padding-top 0 0 $main-padding-left;
  }
}

.header {
  &-bar {
    display: flex;
    width: 100%;
    height: $header-bar-height;
    align-items: stretch;
  }

  &-brand {
    padding: 0 1em 0 1em;
  }
}

.aside {
  &-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
