.action-bar {
  @extend .d-grid;
  @extend .gap-2;
  @extend .d-md-flex;
  @extend .justify-content-md-end;
  @extend .mb-3;

  &__action {
    @extend .btn;
    @extend .btn-primary;

    width: 120px;
  }
}
