@model IdentityServerSample.WebApp.ViewModels.SignInViewModel

<div class="card m-auto text-center form-card mt-3">
  <div class="card-body">
    <h3 class="card-title">Identity Server Sample</h3>
    <p class="card-text">Please sign in</p>
    <form method="post">
      <div class="form-floating mb-3">
        <input asp-for="Email" type="email" class="form-control" placeholder="" />
        <label asp-for="Email">Email</label>
        <span asp-validation-for="Email" class="invalid-feedback"></span>
      </div>
      <div class="form-floating mb-3">
        <input asp-for="Password" type="password" class="form-control" placeholder="" />
        <label asp-for="Password">Password</label>
        <span asp-validation-for="Password" class="invalid-feedback"></span>
      </div>
      <div class="form-check mb-3">
        <input asp-for="RememberMe" type="checkbox" class="from-check-input" />
        <label asp-for="RememberMe" class="form-check-label">Remember me</label>
      </div>
      <button class="btn btn-lg btn-primary w-100" type="submit">
        <span>Sign In</span>
      </button>
    </form>
  </div>
</div>
