@model IdentityServerSample.WebApp.ViewModels.SignOutViewModel

<div class="card m-auto text-center form-card mt-3">
  <div class="card-body">
    <h3 class="card-title">Identity Server Sample</h3>
    <p class="card-text">Are you sure you want to sing out?</p>
    <form method="post">
      <button class="btn btn-lg btn-primary w-100 mb-3" type="submit">
        <span>Yes</span>
      </button>
    </form>
  </div>
</div>
