<div class="app-signin">
  <div class="app-signin__content">
    <h3 class="app-signin__title">Identity Server Sample</h3>
    <p class="app-signin__info">Please sign in</p>
    <form class="app-signin__form app-form" method="post" [formGroup]="form">
      <div class="app-form__group">
        <input id="email"
               type="email"
               class="form-control"
               placeholder=""
               formControlName="email" />
        <label for="email">Email</label>
        <span class="invalid-feedback">The email is required.</span>
      </div>
      <div class="app-form__group">
        <input id="password"
               type="password"
               class="form-control"
               placeholder=""
               formControlName="password" />
        <label for="password">Password</label>
        <span class="invalid-feedback">The password is required.</span>
      </div>
      <div class="app-form__group">
        <input id="rememberMe" type="checkbox" class="form-check-input" />
        <label for="rememberMe" class="form-check-label">Remember me</label>
      </div>
      <button class="app-form__button"
              (click)="signin()">
        <span>Sign In</span>
      </button>
    </form>
  </div>
</div>
