<div style="width: 350px;" class="card m-auto mt-3">
  <div class="card-body">
    <h3 class="card-title text-center">Identity Server Sample</h3>
    <p class="card-text text-center">Please sign in</p>
    <form method="post" [formGroup]="form">
      <div class="form-floating mb-3">
        <input id="email"
               type="email"
               class="form-control"
               placeholder=""
               formControlName="email" />
        <label for="email">Email</label>
        <span class="invalid-feedback">The email is required.</span>
      </div>
      <div class="form-floating mb-3">
        <input id="password"
               type="password"
               class="form-control"
               placeholder=""
               formControlName="password" />
        <label for="password">Password</label>
        <span class="invalid-feedback">The password is required.</span>
      </div>
      <div class="form-check mb-3">
        <input id="rememberMe" type="checkbox" class="form-check-input" />
        <label for="rememberMe" class="form-check-label">Remember me</label>
      </div>
      <button class="btn btn-lg btn-primary w-100"
              (click)="signin()">
        <span>Sign In</span>
      </button>
    </form>
  </div>
</div>
